<div class="container">
  <ul
    class="nav nav-pills nav-justified justify-content-center flex-column flex-lg-row "
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <a
        class="flex-lg-fill text-lg-center nav-link link-profile"
        href="/profile/progress"
        style="border-radius: 5% 0% 0% 5% / 35% 0% 0% 35%;"
        >Достижения</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="flex-lg-fill text-lg-center nav-link active link-profile"
        id="pills-profile-tab"
        data-toggle="pill"
        href="#pills-profile"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
        >Профиль</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="flex-lg-fill text-lg-center nav-link link-profile"
        href="/profile/setting"
        style="border-radius: 0% 5% 5% 0% / 0% 35% 35% 0%;"
        >Настройки</a
      >
    </li>
  </ul>
</div>

<div class="container profile">
  <div class="row justify-content-around">
    <div class="col-xl-2 col-lg-3 profile-info">
      <div class="profile-info-img">
        <img src="/newAvatar.svg" alt="аватар" />
      </div>
      <div class="profile-info-bio">
        <ul>
          <li>
            <span role="img"><img src="/user.svg" alt="" /></span>{{user.name}}
          </li>
          <li>
            <span role="img"><img src="/mail.svg" alt="" /></span>
            {{user.city}}
          </li>
          <li>
            <span role="img"><img src="/user.svg" alt="" /></span>
            {{user.school}}
          </li>
          <li>
            <span role="img"><img src="/user.svg" alt="" /></span>
            <p style="display: inline;">{{user.bio}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 profile-stat">
      <p class="profile-stat-hello">Привет, <strong>{{user.name}}</strong></p>
      <div class="row">
        <div class="col-xl-9 col-lg-8">
          <div class=" d-flex flex-wrap  justify-content-around">
              <div class="profile-stat-allStat mt-5">
              <img src="mail.svg" alt="" />
             
              <p class="all">{{allStat.games}}</p>
              <p class="match">Матчей</p>
              <p class="today">Сегодня:<strong>{{stat.today.games}}</strong></p>
            </div>

            <div class="profile-stat-allStat mt-5">
              <img src="mail.svg" alt="" />
              <p class="all">{{allStat.examples}}</p>
              <p class="match">Примеров</p>
              <p class="today">Сегодня:<strong>{{stat.today.examples}}</strong></p>
            </div>

            <div class="profile-stat-allStat mt-5">
              <img src="mail.svg" alt="" />
              <p class="all">{{allStat.correctExamples}}</p>
              <p class="match">Правильных</p>
              <p class="today">Сегодня:<strong>{{stat.today.correctExamples}}</strong></p>
            </div>
            <div class="profile-stat-allStat mt-5">
              <img src="mail.svg" alt="" />
              <p class="all">7.3%</p>
              <p class="match">Ошибок</p>
              <p class="today">Сегодня:<strong>2.1%</strong></p>
            </div>
          </div>
          <div class="profile-stat-modeStat">
            <table class="table">
              <thead>
                <p class="table-name">Статистика за все время</p>
                <tr>
                  <th scope="col">Режим</th>
                  <th scope="col">Матчей</th>
                  <th scope="col">Примеров</th>
                  <th scope="col">Правильных</th>
                  <th scope="col">Ср. время на ответ</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4">
          <div class="profile-stat-lastMatch">
            <p class="title">Последняя игра</p>
                <p class="modeName">{{stat.lastMatch.name}}</p>
            <table class="lastMatchStat">
              </thead>
              <tbody>
                <tr>
                  <td class="key">Всего решено:</td>
                  <td class="value " value="">{{stat.lastMatch.examples}}</td>
                </tr>
                <tr>
                  <td class="key">Правильных:</td>
                  <td class="value ">{{stat.lastMatch.correctExamples}} ({{stat.lastMatch.percentageOfCorrectAnswers}}%)</td>
                </tr>
                <tr>
                  <td class="key"> В среднем на пример:</td>
                  <td class="value ">{{stat.lastMatch.timeMiddleExample}} сек</td> 
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
            <p class="details" 
              data-toggle="modal"
              data-target="#exampleModal"
              >Подробнее</p>
          </div>
            <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">
            Подробная статистика последней игры
          </h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table>
            <thead>
              <tr>
                <th>№</th>
                <th>Пример</th>
                <th>Ваш ответ</th>
                <th>Правильный ответ</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Закрыть
          </button>
        </div>
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div>
</div>
