<!-- Navbar -->
        <main>
            <nav class="navbar navbar-expand-lg navbar-light mb-2 ">
                  <img class="logoIMG"
                    src="/math.svg"
                    alt="MathBattle Logo"
                />
                <a class="navbar-brand block-text logoText" href="/">Math Battle</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                 </button>
              
                <div
                    class="collapse navbar-collapse justify-content-end"
                    id="navbarTogglerDemo01"
                >
                    <ul class="navbar-nav">
                        {{#if  isFastMatch}}
                        <li class="nav-item active">
                            <a
                                class="nav-link block-text font-weight-bold"
                                href="/fastMatch"
                                >Быстрый матч
                                <span class="sr-only">(current)</span></a
                            >
                        </li>
                        {{else}}
                         <li class="nav-item ">
                            <a
                                class="nav-link block-text font-weight-bold"
                                href="/fastMatch"
                                >Быстрый матч
                                <span class="sr-only">(current)</span></a
                            >
                        </li>
                        {{/if}}

                        {{#if  isModes}}
                        <li class="nav-item active">
                            <a
                                class="nav-link block-text font-weight-bold"
                                href="/modes"
                                >Режимы</a
                            >
                        </li>
                          {{else}}
                           <li class="nav-item">
                            <a
                                class="nav-link block-text font-weight-bold"
                                href="/modes"
                                >Режимы</a
                            >
                        </li>
                        {{/if}}


                         {{#if  isLeaderboard}}
                        <li class="nav-item active">
                            <a
                                class="nav-link block-text font-weight-bold"
                                href="/leaderboard"
                                >Таблицы лидеров</a
                            >
                        </li>
                          {{else}}
                            <li class="nav-item">
                            <a
                                class="nav-link block-text font-weight-bold"
                                href="/leaderboard"
                                >Таблицы лидеров</a
                            >
                        </li>
                        {{/if}}


                            {{#if isAuth}}
                                     {{#if  isLogin}}
                                        <li class="nav-item active">
                                            <a
                                                class="nav-link block-text font-weight-bold"
                                                href="/profile"
                                                >Профиль</a
                                            >
                                        </li>
                                    {{else}}
                                        <li class="nav-item">
                                            <a
                                                class="nav-link block-text font-weight-bold"
                                                href="/profile"
                                                >Профиль</a
                                            >
                                        </li>

                                    {{/if}}
                            {{else}}
                                       {{#if  isRegister}}
                                        <li class="nav-item active">
                                            <a
                                                class="nav-link block-text font-weight-bold"
                                                href="/auth/register"
                                                >Регистрация</a
                                            >
                                        </li>
                                    {{else}}
                                        <li class="nav-item">
                                            <a
                                                class="nav-link block-text font-weight-bold"
                                                href="/auth/register"
                                                >Регистрация</a
                                            >
                                        </li>

                                    {{/if}}

                                    {{#if  isLogin}}
                                        <li class="nav-item active">
                                            <a
                                                class=" logIn nav-link block-text font-weight-bold "
                                                href="/auth/login"
                                                >Войти</a
                                            >
                                        </li>
                                    {{else}}
                                        <li class="nav-item">
                                            <a
                                                class=" logIn nav-link block-text font-weight-bold "
                                                href="/auth/login"
                                                >Войти</a
                                            >
                                        </li>

                                    {{/if}} 
                                   

                            
                            {{/if}}
                       
                    </ul>
                </div>
            </nav>
        </main>